@using Scalesoft.Localization.AspNetCore;
@using Ridics.Authentication.Service.Models.ViewModel;
@model ViewModel<Ridics.Authentication.Service.Models.ViewModel.Users.UserViewModel>
@inject ILocalizationService Localizer

@{
    ViewData["Title"] = Localizer.Translate("user-title");
    var deleteFormId = $"delete_{Model.Item.Id}";
}

<form asp-action="Delete" asp-route-id="@Model.Item.Id" id="@deleteFormId" hidden>
    <input type="hidden" name="id" value="@Model.Item.Id"/>
</form>
<a class="float-right" href="#" data-formid="@deleteFormId" data-info="@Model.Item.Username" data-toggle="modal" data-target="#confirmModal">@Localizer.Translate("delete")</a>

<h2>@Localizer.Translate("user-heading")</h2>
<hr/>

<div class="card mb-3">
    <div class="card-header">
        @Localizer.Translate("basic-info")
        <a class="float-right" asp-action="Edit" asp-route-id="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>@Html.DisplayNameFor(model => model.Item.Id): @Html.DisplayFor(model => model.Item.Id)</div>
            <div>@Html.DisplayNameFor(model => model.Item.Username): @Html.DisplayFor(model => model.Item.Username)</div>
            <div>@Html.DisplayNameFor(model => model.Item.FirstName): @Html.DisplayFor(model => model.Item.FirstName)</div>
            <div>@Html.DisplayNameFor(model => model.Item.LastName): @Html.DisplayFor(model => model.Item.LastName)</div>
            <div>@Html.DisplayNameFor(model => model.Item.Email): @Html.DisplayFor(model => model.Item.Email)</div>
            <div>@Html.DisplayNameFor(model => model.Item.EmailLevelOfAssurance): @Html.DisplayFor(model => model.Item.EmailLevelOfAssurance)</div>
            <div>@Html.DisplayNameFor(model => model.Item.EmailConfirmCode): @Html.DisplayFor(model => model.Item.EmailConfirmCode)</div>
            <div>@Html.DisplayNameFor(model => model.Item.LastChange): @Html.DisplayFor(model => model.Item.LastChange)</div>
            <div>@Html.DisplayNameFor(model => model.Item.SecurityStamp): @Html.DisplayFor(model => model.Item.SecurityStamp)</div>
            <div>@Html.DisplayNameFor(model => model.Item.PhoneNumber): @Html.DisplayFor(model => model.Item.PhoneNumber)</div>
            <div>@Html.DisplayNameFor(model => model.Item.PhoneLevelOfAssurance): @Html.DisplayFor(model => model.Item.PhoneLevelOfAssurance)</div>
            <div>@Html.DisplayNameFor(model => model.Item.PhoneNumberConfirmCode): @Html.DisplayFor(model => model.Item.PhoneNumberConfirmCode)</div>
            <div>@Html.DisplayNameFor(model => model.Item.TwoFactorEnabled): @Html.DisplayFor(model => model.Item.TwoFactorEnabled)</div>
            <div>@Html.DisplayNameFor(model => model.Item.LockoutEndDateUtc): @Html.DisplayFor(model => model.Item.LockoutEndDateUtc)</div>
            <div>@Html.DisplayNameFor(model => model.Item.LockoutEnabled): @Html.DisplayFor(model => model.Item.LockoutEnabled)</div>
            <div>@Html.DisplayNameFor(model => model.Item.AccessFailedCount): @Html.DisplayFor(model => model.Item.AccessFailedCount)</div>
            <div>@Html.DisplayNameFor(model => model.Item.TwoFactorProvider): @Html.DisplayFor(model => model.Item.TwoFactorProvider)</div>
            <div>@Html.DisplayNameFor(model => model.Item.VerificationCode): @Html.DisplayFor(model => model.Item.VerificationCode)</div>
            <div>@Html.DisplayNameFor(model => model.Item.VerificationCodeCreateTime): @Html.DisplayFor(model => model.Item.VerificationCodeCreateTime)</div>
            @*TODO remove hub related properties*@
            <div>@Html.DisplayNameFor(model => model.Item.Title): @Html.DisplayFor(model => model.Item.Title)</div>
            <div>@Html.DisplayNameFor(model => model.Item.Prefix): @Html.DisplayFor(model => model.Item.Prefix)</div>
            <div>@Html.DisplayNameFor(model => model.Item.SecondName): @Html.DisplayFor(model => model.Item.SecondName)</div>
            <div>@Html.DisplayNameFor(model => model.Item.FullName): @Html.DisplayFor(model => model.Item.FullName)</div>
            <div>@Html.DisplayNameFor(model => model.Item.Suffix): @Html.DisplayFor(model => model.Item.Suffix)</div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Item.TwoFactorProviders)
        <a class="float-right" asp-action="Edit" asp-route-id="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @if (Model.Item.TwoFactorProviders != null)
            {
                foreach (var twoFactorProvider in Model.Item.TwoFactorProviders)
                {
                    @Html.DisplayFor(modelItem => twoFactorProvider)
                    <br/>
                }
            }
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Item.ExternalUserLogins)
        <a class="float-right" asp-action="Edit" asp-route-id="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @if (Model.Item.ExternalUserLogins != null)
            {
                foreach (var externalLogin in Model.Item.ExternalUserLogins)
                {
                    @Html.DisplayFor(modelItem => externalLogin.LoginProvider.DisplayName)
                    <br/>
                }
            }
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Item.Roles)
        <a class="float-right" asp-action="Roles" asp-route-userId="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @if (Model.Item.Roles != null)
            {
                foreach (var role in Model.Item.Roles)
                {
                    <a asp-action="View" asp-controller="Role" asp-route-id="@role.Id">@Html.DisplayFor(modelItem => role.Name)</a>
                    <br/>
                }
            }
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Item.ResourcePermissionTypeActions)
        <a class="float-right" asp-action="ResourcePermissionTypeActions" asp-route-userId="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @if (Model.Item.ResourcePermissionTypeActions != null)
            {
                foreach (var resourcePermissionTypeAction in Model.Item.ResourcePermissionTypeActions)
                {
                    <a asp-action="View" asp-controller="ResourcePermissionTypeAction" asp-route-id="@resourcePermissionTypeAction.Id">@Html.DisplayFor(modelItem => resourcePermissionTypeAction.ResourcePermissionString)</a>
                    <br/>
                }
            }
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Item.ResourcePermissions)
        <a class="float-right" asp-action="ResourcePermissions" asp-route-userId="@Model.Item.Id">@Localizer.Translate("edit")</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            @if (Model.Item.ResourcePermissions != null)
            {
                foreach (var resourcePermission in Model.Item.ResourcePermissions)
                {
                    <a asp-action="View" asp-controller="ResourcePermission" asp-route-id="@resourcePermission.Id">@Html.DisplayFor(modelItem => resourcePermission.ResourcePermissionString)</a>
                    <br/>
                }
            }
        </div>
    </div>
</div>

<partial name="_ConfirmDialog" model="@Model.DeleteConfirmDialog"/>
<partial name="_BackButton" />