@using Scalesoft.Localization.AspNetCore
@model Ridics.Authentication.Service.Models.ViewModel.ConfirmDialogViewModel
@inject ILocalizationService Localizer

<div class="modal fade confirmModal" id="@Model.Id" tabindex="-1" data-keyboard="true" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div>@Model.Message</div>
                <div class="modal-body-info"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-ok">@Localizer.Translate("dialog-confirm")</a>
                <button type="button" data-dismiss="modal" class="btn btn-muted">
                    @Localizer.Translate("dialog-cancel")
                </button>
            </div>
        </div>
    </div>
</div>
