@using Scalesoft.Localization.AspNetCore
@model Ridics.Authentication.Service.Models.ViewModel.Resources.ApiResources.ApiResourceSecretsViewModel
@inject ILocalizationService Localizer

@{
    ViewData["Title"] = Localizer.Translate("secrets-title");
}

<h2>@Localizer.Translate("secrets-heading")</h2>
<partial name="_ValidationSummary"/>

@if (Model == null)
{
    return;
}

@if (Model.Items != null && Model.Items.Count != 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Expiration)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var secret in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => secret.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => secret.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => secret.Expiration)
                </td>
                <td>
                    @{
                        var deleteFormId = $"delete_{secret.Value}";
                    }
                    <form asp-action="DeleteSecret" asp-route-apiResourceId="@Model.ApiResourceId" asp-route-secretId="@secret.Id" id="@deleteFormId" hidden>
                        <input type="hidden" name="id" value="@Model.ApiResourceId"/>
                        <input type="hidden" name="secretId" value="@secret.Id"/>
                    </form>
                    <a href="#" data-formid="@deleteFormId" data-info="@secret.Value" data-toggle="modal" data-target="#@Model.DeleteConfirmDialog.Id">@Localizer.Translate("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="no-items">@Localizer.Translate("no-secrets")</div>
}
<a asp-action="AddSecret" asp-route-apiResourceId="@Model.ApiResourceId">@Localizer.Translate("add-secret")</a>
<partial name="_ConfirmDialog" model="@Model.DeleteConfirmDialog"/>
<partial name="_BackButton" />
